<!-- Include Header -->
<% include header.ejs %>
<div class="container">

	<!-- Button to edit profile -->
	<input id="editprofile-button" type="button" onclick="location.href='/editprofile';" value="Edit Your Profile"/>

	<div id="user-skills">
		<p>Your current skills:</p>

		<% for(var i=0; i<skills.length; i++) {%>
			<div class="skill-row">
				<a href="/search?search=<%= skills[i] %>"><%= skills[i] %></a>
			</div>
		<% } %>

</div>

<!-- Include Footer -->
<% include footer.ejs %>
