<!-- Include Header -->
<% include header.ejs %>
<div class="container">
			
	<!-- Form to add skills -->
	<form id="skillform" action="/addSkill" method="post">
        <input type="text" id="type-skill" name="skill" placeholder="Add a skill here">
        <input id="submit-skill" type="submit" value="Add"/>
	</form>
	
	<!-- Form to remove skills -->
	<form id="removeform" action="/removeSkill" method="post">
        <input type="text" id="type-remove" name="skillremove" placeholder="Remove a skill here">
        <input id="remove-skill" type="submit" value="Remove"/>
	</form>
	
	<!-- Button to finish editing -->
	<input type="button" onclick="location.href='/profile';" value="Done"/>

	<table id="user-skills">
		<tr>
			<th>Your current skills:</th>
		</tr>
		<% for(var i=0; i<skills.length; i++) {%>
			<tr><td><%= skills[i] %></td></tr>
		<% } %>
	</table>

</div>

<!-- Include Footer -->
<% include footer.ejs %>