<!-- Include Header -->
<% include header.ejs %>
<div class="container">

	<!-- Form to add skills -->
	<form id="skillform" action="/addSkill" method="post">
        <input type="text" id="type-skill" name="skill" placeholder="Add a skill here">
        <input id="submit-skill" type="submit" value="Add Skill"/>
	</form>

	<!-- Button to finish editing -->
	<button type="button" onclick="location.href='/profile';">Done Editing</button>

	<!-- Display User's Skills and Remove Button -->
		<div id="user-skills">
			<p>Your current skills:</p>

			<% for(var i=0; i<skills.length; i++) {%>
				<div class="skill-row">
					<button onclick="removeSkill('<%= skills[i] %>')" type="button" class="delete">delete</button>
					<div class="skill"><%= skills[i] %></div>
				</div>
			<% } %>

</div>

<!-- Include Footer -->
<% include footer.ejs %>
