<!-- Include Header -->
<% include header.ejs %>
<div class="container">

	<!-- Form to edit blurb -->
	<form id="blurbform" action="/editBlurb" method="post">
        <input type="text" name="blurb" value="<%= blurb%>">
        <input type="submit" value="Done"/>
	</form>

	<!-- Form to add skills -->
	<form id="skillform" action="/addSkill" method="post">
        <input type="text" id="type-skill" name="skill" placeholder="Add a skill here">
        <input id="submit-skill" type="submit" value="Add"/>
	</form>

	<!-- Button to finish editing -->
	<input type="button" onclick="location.href='/profile';" value="Done"/>

	<!-- Display User's Skills and Remove Button -->
		<table id="user-skills">
			<tr>
				<th>Your current skills:</th>
			</tr>
			<% for(var i=0; i<skills.length; i++) {%>
				<tr>
					<td><%= skills[i] %></td>
					<td><button onclick="removeSkill('<%= skills[i] %>')" type="button" class="delete">delete</button></td>
				</tr>
			<% } %>
		</table>

</div>

<!-- Include Footer -->
<% include footer.ejs %>


