<!doctype html>
<html>

<head>
    <title>Collab</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

</head>

<body>
<h1>Error</h1>
</body>

</html>
