<!doctype html>
<html>

<head>
    <title>Collab</title>

    <!-- Reset -->
    <link rel="stylesheet" href="/stylesheets/reset.css">
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="/fonts/typography.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div id="header">
        <h1 class="page-title center-block"><%= title %></h1>
        <ul id="menu">
            <li><a href="/">HOME</a></li>
            <li><a href="/profile">PROFILE</a></li>
            <li><a href="/search">SEARCH</a></li>
            <li><a href="/logout">LOGOUT</a></li>
        </ul>
    </div>

