<!doctype html>
<html>

<head>
    <title>Node Blog</title>

    <!-- Reset -->
    <link rel="stylesheet" href="stylesheets/reset.css">
    
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="fonts/typography.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->

</head>
    <% if (message.length > 0) { %>
        <div class="error"><%= message %></div>
    <% } %>

<div id="header" class="center-block">
    <div id="logo">
        <!-- <img src="images/logo.svg"> -->
    </div>   

    <!-- login -->
    <form id="login-form" action="/login" method="post">
        <input type="text" class="form-control email-field" name="email" placeholder="email">
        <input type="password" class="form-control" name="password" placeholder="password">
        <button type="submit" class="btn-prpl">Login</button>
    </form>
</div>
<div id="copy" class="center-block">
    <h1>Collab</h1>
    <p>
        Find classmates with the skills you need to get your projects off the ground. 
    </p>
</div>

<hr id="home-hr">

<!-- signup -->
<h2 id="signup-text">Sign Up For A New Account</h2>
<form id="signup-form" class="center-block" action="/signup" method="post">
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control username-field" name="username">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="btn-prpl">Signup</button>
</form>


<!-- Include Footer -->
<% include footer.ejs %>