<!-- Include Header -->
<% include header.ejs %>
<div class="container">

	<div id="user-skills">
		<p><%= user.username%>'s current skills:</p>

		<% for(var i=0; i<skills.length; i++) {%>
			<div class="skill-row">
				<a href="/search?search=<%= skills[i] %>"><%= skills[i] %></a>
			</div>
		<% } %>
</div>

<!-- Include Footer -->
<% include footer.ejs %>
