<!-- Include Header -->
<% include header.ejs %>
<div class="container">
	
	<div id="blurb"><%= blurb %></div>

	<table id="user-skills">
		<tr>
			<th><%= username %>'s current skills:</th>
		</tr>
		<% for(var i=0; i<skills.length; i++) {%>
			<tr><td><a href="/search?search=<%= skills[i] %>"><%= skills[i] %></a></td></tr>
		<% } %>
	</table>


</div>

<!-- Include Footer -->
<% include footer.ejs %>
