<!-- Include Header -->
<% include header.ejs %>
<div class="container">

	<div id="users">
		<div><p>Users with skill: <%=skill%></p></div>

		<% for(var i=0; i<users.length; i++) {%>
			<div>
				<a href="/users/<%=users[i]%>" ><%=users[i]%></a>
			</div>
		<% } %>
	</div>

</div>

<!-- Include Footer -->
<% include footer.ejs %>
