<!-- Include Header -->
<% include header.ejs %>
<div class="container">
	<form id="skillform">
        <input type="text" name="skill" placeholder="type a skill">
	</form>
</div>

<!-- Include Footer -->
<% include footer.ejs %>