<!-- Include Header -->
<% include header.ejs %>

<div class="center-block width">
	<% for(var i=0; i<userlist.length; i++) {%>
		<h1><%= userlist[i] %></h1>
	<% } %>
</div>

<!-- Include Footer -->
<% include footer.ejs %>